{% extends "mi_app/index.html" %}
{% block titulo %}
<h1 class="mb-5">Proyectos</h1>
{% endblock titulo %}

{% block contenido %}
<h3 class="mb-5">Pagina de proyectos</h3>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de proyecto</th>
            <th>Cantidad de shots</th>
            <th>Cotizacion</th>
            <th>Fecha de entrega</th>
            <th>Entregado</th>
        </tr>
    </thead> 
    <tbody>
        {% for c in proyecto %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.shots }}</td>
            <td>{{ c.cotizacion }}</td>
            <td>{{ c.fechaEntrega }}</td>
            <td>{{ c.delivered }}</td>
        </tr>
        {% endfor %}
    </tbody>       
</table>
{% endblock contenido%}